.pinContainer {
  position: absolute;
  pointer-events: none;
}

.iconContainer {
  position: relative;
}

.name {
  position: absolute;
  text-shadow: 2px 2px 15px white;
}

.name.correct {
  color: white;
}

.name.incorrect {
  color: red;
  text-decoration: line-through;
}

.pin.correct {
  color: white;
}

.pin.incorrect {
  color: red;
}

.pin {
  filter: drop-shadow(2px 2px 10px white);
}
