* {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 10px white;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

.targetList {
  display: flex;
  flex-direction: row;
  flex: 3;
  justify-content: space-around;
}

.timer {
  flex: 1;
}
